body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Общий контейнер на весь экран */
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* Левая фиолетовая часть */
.left-side {
    width: 50%;
    background: rgba(106, 13, 173, 0.5); /* фиолетовый + 50% прозрачности */
    animation: slideIn 1.2s ease forwards;
    transform: translateX(-100%);
    opacity: 0;
}

/* Анимация выезда */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/* Правая часть */
.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Блок формы */
.form-box {
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Красивые поля */
.form-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #bbb;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background: #6a0dad;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    background: #580aab;
}
